In [72]:
# Import Dependencies
import pandas as pd
import numpy as np

In [73]:
# File to Load
purchase_path = "Resources/purchase_data.csv"

# Read the csv and store into Pandas DataFrame
purchase_data = pd.read_csv(purchase_path)
purchase_data_df = pd.DataFrame(purchase_data)

purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [60]:
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [61]:
# Calculate the number of unique players in the DataFrame
player_count = len(purchase_data["SN"].unique())
player_count

576

In [62]:
# Calculate the Total Number of Purchases 
purchaseID_count = len(purchase_data["Purchase ID"].unique())
purchaseID_count

780

In [63]:
# Calculate the number of unique items in the DataFrame
itemId_count = len(purchase_data["Item ID"].unique())
itemId_count

179

In [64]:
#Calculate the Average Purchase Price
averagePurchasePrice = purchase_data["Price"].mean()
averagePurchasePrice

3.050987179487176

In [75]:
#Calculate the Total Revenue
totalrevenue = purchase_data["Price"].sum()
totalrevenue

2379.77

In [82]:
#items_frame_df = pd.DataFrame([{'Number of Unique Items": itemID_count, "Average Purchase Price": averagePurchasePrice, "Number of Purchases": purchaseID_count, "Total Revenue":totalrevenue}])
items_frame_df = pd.DataFrame([{"A": itemId_count, "B": averagePurchasePrice, "C": purchaseID_count, "D":totalrevenue}])                                
items_frame_df

     A         B    C        D
0  179  3.050987  780  2379.77

In [66]:
purchase_data.groupby(["SN", "Gender"], sort=False, as_index=False)["Item ID"].first()

                SN  Gender  Item ID
0          Lisim78    Male      108
1      Lisovynya38    Male      143
2       Ithergue48    Male       92
3    Chamassasya86    Male      100
4        Iskosia90    Male      131
..             ...     ...      ...
571         Hala31    Male       19
572     Jiskjask80    Male       92
573     Aethedru70  Female       60
574     Yathecal72    Male       67
575        Sisur91    Male       92

[576 rows x 3 columns]

In [67]:
gender_count = purchase_data.groupby{"Gender"}.value_counts()
gender_count

SyntaxError: invalid syntax (<ipython-input-67-db0cd759690a>, line 1)

In [68]:
# Age Demographics
# create the bins for age range
bins = [0, 9.9, 13.9, 18.9, 23.9, 28.9, 33.9, 43.9, 100]

# create the names for the bins
group_names = ["Under 10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45 and Older"]

In [69]:
purchase_data["Age Demographics"] = pd.cut(["Age"], bins, labels=group_names)
purchase_data

TypeError: Cannot cast array data from dtype('float64') to dtype('<U32') according to the rule 'safe'

In [70]:
df(Age)

NameError: name 'df' is not defined

In [71]:
# Creating a summary DataFrame using above values
#summary_df = pd.DataFrame({"Best Bitcoin Open": [bitcoin_open],
#                          "Best Bitcoin Close": [bitcoin_close],
#                          "Total Bitcoin Volume": str(bitcoin_volume)+" million",
#                           "Best Dash Open": [dash_open],
#                           "Best Dash Close": [dash_close],
 #                          "Total Dash Volume": str(dash_volume)+" million"})
#
#summary_df