In [2]:
# Import Dependencies
import pandas as pd
import numpy as np

In [3]:
# File to Load
purchase_path = "Resources/purchase_data.csv"

# Read the csv and store into Pandas DataFrame
purchase_data_df = pd.read_csv(purchase_path)
#purchase_data_df = pd.DataFrame(purchase_data)
#purchase_data_df.head()

In [4]:
#purchase_data.dtypes

In [23]:
# Calculate the number of unique players in the DataFrame
player_count = len(purchase_data_df["SN"].unique())
player_count

576

In [24]:
# Calculate the Total Number of Purchases 
purchaseID_count = len(purchase_data_df["Purchase ID"].unique())
purchaseID_count

780

In [25]:
# Calculate the number of unique items in the DataFrame
itemId_count = len(purchase_data_df["Item ID"].unique())
itemId_count

179

In [26]:
#Calculate the Average Purchase Price
averagePurchasePrice = purchase_data_df["Price"].mean()
averagePurchasePrice

3.050987179487176

In [27]:
#Calculate the Total Revenue
totalrevenue = purchase_data_df["Price"].sum()
totalrevenue

2379.77

In [28]:
# create the Summary Frame
items_frame_df= pd.DataFrame([{"Number of Unique Items": itemId_count, "Average Purchase Price": averagePurchasePrice, "Total Number of Purchases": purchaseID_count, "Total Revenue":totalrevenue}])                                

# format
pd.options.display.float_format = "${:,.2f}".format

# display the summary frame
items_frame_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

In [29]:
user_df = purchase_data_df.loc[:,["SN", "Age", "Gender"]]
user_df = user_df.drop_duplicates()

gender_total = user_df["Gender"].value_counts()
gender_percent = gender_total/player_count * 100
gender_frame = pd.DataFrame({"Percentage of Players": gender_percent, "Total Count": gender_total})

pd.options.display.float_format = "{:,.2f}%".format
gender_frame

                       Percentage of Players  Total Count
Male                                  84.03%          484
Female                                14.06%           81
Other / Non-Disclosed                  1.91%           11

In [35]:
gender_counts = purchase_data_df.groupby(["Gender"]).count()["Price"].rename("Purchase Count")
#gender_counts = user_df.groupby(["Gender"]).count()["Price"].rename("Purchase Count")
#gender_counts

In [36]:
gender_avpp = purchase_data_df.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
pd.options.display.float_format = "${:,.2f}".format
#gender_avpp

In [37]:

gender_purchase_total = purchase_data_df.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
#gender_purchase_total

In [38]:
avpp_bygender = gender_purchase_total/gender_total
pd.options.display.float_format = "${:,.2f}".format
#avpp_bygender

In [54]:
gender_frame = pd.DataFrame({"Purchase Count": gender_counts, "Average Purchase Price": gender_avpp, "Total Purchase Value": gender_purchase_total, "Avg Total Purchase per Person": avpp_bygender})
gender_frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [74]:
# Age Demographics
# create the bins for age range
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 50]

# create the names for the bins
group_names = ["<10", "10 - 14", "15 - 19", "20 - 24", "25 - 29", "30 - 34", "35 - 39", "40+"]

In [75]:
pd.cut(purchase_data_df["Age"], bins, labels=group_names)

0      20 - 24
1          40+
2      20 - 24
3      20 - 24
4      20 - 24
        ...
775    20 - 24
776    20 - 24
777    20 - 24
778        <10
779    20 - 24
Name: Age, Length: 780, dtype: category
Categories (8, object): ['<10' < '10 - 14' < '15 - 19' < '20 - 24' < '25 - 29' < '30 - 34' < '35 - 39' < '40+']

In [78]:
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"],bins, labels=group_names)
purchase_data_df
# Export file as a CSV, without the Pandas index, but with the header to make sure age groups are correct
#purchase_data_df.to_csv("fileOne.csv", index=False, header=True)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53,20 - 24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,$4.88,20 - 24
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27,20 - 24
4,4,Iskosia90,23,Male,131,Fury,$1.44,20 - 24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,$3.54,20 - 24
776,776,Iral74,21,Male,164,Exiled Doomblade,$1.63,20 - 24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",$3.46,20 - 24
778,778,Sisur91,7,Male,92,Final Critic,$4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,$4.60,20 - 24

In [81]:
age_purchase_count = purchase_data_df.groupby(["Age Group"]).count()["Purchase ID"]
#age_purchase_count

Age Group
<10         23
10 - 14     28
15 - 19    136
20 - 24    365
25 - 29    101
30 - 34     73
35 - 39     41
40+         13
Name: Purchase ID, dtype: int64

In [82]:
age_total_purchase = purchase_data_df.groupby(["Age Group"]).sum()["Price"]
age_total_purchase

Age Group
<10          $77.13
10 - 14      $82.78
15 - 19     $412.89
20 - 24   $1,114.06
25 - 29     $293.00
30 - 34     $214.00
35 - 39     $147.67
40+          $38.24
Name: Price, dtype: float64

In [83]:
age_avg_purchase = age_total_purchase/age_purchase_count
age_avg_purchase

Age Group
<10       $3.35
10 - 14   $2.96
15 - 19   $3.04
20 - 24   $3.05
25 - 29   $2.90
30 - 34   $2.93
35 - 39   $3.60
40+       $2.94
dtype: float64

In [ ]:
#age_avg_total_purchase_pp = age_total_purchase/WHAT?  The 576 numbers, broken out into Age groups?

In [88]:

age_frame_df = pd.DataFrame({"Purchase Count": age_purchase_count, "Average Purchase Price": age_avg_purchase, "Total Purchase Value": age_total_purchase, "Avg Total Purchase per Person": avpp_bygender})
age_frame_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10 - 14,$28.00,$2.96,$82.78,$nan
15 - 19,$136.00,$3.04,$412.89,$nan
20 - 24,$365.00,$3.05,"$1,114.06",$nan
25 - 29,$101.00,$2.90,$293.00,$nan
30 - 34,$73.00,$2.93,$214.00,$nan
35 - 39,$41.00,$3.60,$147.67,$nan
40+,$13.00,$2.94,$38.24,$nan
<10,$23.00,$3.35,$77.13,$nan
Female,$nan,$nan,$nan,$4.47
Male,$nan,$nan,$nan,$4.07
Other / Non-Disclosed,$nan,$nan,$nan,$4.56