In [48]:
# Import Dependencies
import pandas as pd
import numpy as np

In [49]:
# File to Load
purchase_path = "Resources/purchase_data.csv"

# Read the csv and store into Pandas DataFrame
purchase_data_df = pd.read_csv(purchase_path)
#purchase_data_df = pd.DataFrame(purchase_data)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56
2,2,Ithergue48,24,Male,92,Final Critic,$4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27
4,4,Iskosia90,23,Male,131,Fury,$1.44

In [50]:
#purchase_data.dtypes

In [51]:
# Calculate the number of unique players in the DataFrame
player_count = len(purchase_data["SN"].unique())
player_count

576

In [52]:
# Calculate the Total Number of Purchases 
purchaseID_count = len(purchase_data["Purchase ID"].unique())
purchaseID_count

780

In [53]:
# Calculate the number of unique items in the DataFrame
itemId_count = len(purchase_data["Item ID"].unique())
itemId_count

179

In [54]:
#Calculate the Average Purchase Price
averagePurchasePrice = purchase_data["Price"].mean()
averagePurchasePrice

3.050987179487176

In [55]:
#Calculate the Total Revenue
totalrevenue = purchase_data["Price"].sum()
totalrevenue

2379.77

In [63]:
# create the Summary Frame
items_frame_df= pd.DataFrame([{"Number of Unique Items": itemId_count, "Average Purchase Price": averagePurchasePrice, "Total Number of Purchases": purchaseID_count, "Total Revenue":totalrevenue}])                                

# format
pd.options.display.float_format = "${:,.2f}".format

# display the summary frame
items_frame_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

In [78]:
user_df = purchase_data_df.loc[:,["SN", "Age", "Gender"]]
user_df = user_df.drop_duplicates()

gender_total = user_df["Gender"].value_counts()
gender_percent = gender_total/player_count * 100
gender_frame = pd.DataFrame({"Percentage of Players": gender_percent, "Total Count": gender_total})

pd.options.display.float_format = "{:,.2f}%".format
gender_frame

                       Percentage of Players  Total Count
Male                                  84.03%          484
Female                                14.06%           81
Other / Non-Disclosed                  1.91%           11

In [80]:
gender_counts = purchase_data_df.groupby(["Gender"]).count()["Price"].rename("Purchase Count")
#gender_counts = user_df.groupby(["Gender"]).count()["Price"].rename("Purchase Count")
gender_counts

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase Count, dtype: int64

In [72]:
gender_avpp = purchase_data_df.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
pd.options.display.float_format = "${:,.2f}".format
gender_avpp

Gender
Female                  $3.20
Male                    $3.02
Other / Non-Disclosed   $3.35
Name: Average Purchase Price, dtype: float64

In [73]:

gender_purchase_total = purchase_data_df.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
gender_purchase_total

Gender
Female                    $361.94
Male                    $1,967.64
Other / Non-Disclosed      $50.19
Name: Total Purchase Value, dtype: float64

In [86]:
avpp_bygender = gender_purchase_total/gender_total
pd.options.display.float_format = "${:,.2f}".format
avpp_bygender

Female                  $4.47
Male                    $4.07
Other / Non-Disclosed   $4.56
dtype: float64

In [87]:
gender_frame = pd.DataFrame({"Purchase Count": gender_counts, "Average Purchase Price": gender_avpp, "Total Purchase Value": gender_purchase_total, "Average Purchase Total per Person by Gender": avpp_bygender})
gender_frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person by Gender
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [13]:
# Age Demographics
# create the bins for age range
bins = [0, 9.9, 13.9, 18.9, 24.9, 28.9, 33.9, 39.9, 40]

# create the names for the bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [14]:
pd.cut(purchase_data["Age"], bins, labels=group_names)

0      20-24
1        40+
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    20-24
778      <10
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): ['<10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '40+']

In [15]:
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],bins, labels=group_names)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [16]:
age_group = purchase_data.groupby("Age Group")
age_group[["Price", "Item ID"]]
age_group

In [17]:
# Display the Summary Frame
age_frame_df = pd.DataFrame({"Percentage of Players": [percent_players], "Total Count": [gender_count]})                                
age_frame_df.columns=["Total Count"]

ValueError: Length mismatch: Expected axis has 2 elements, new values have 1 elements

In [ ]:
# Creating a summary DataFrame using above values
#summary_df = pd.DataFrame({"Best Bitcoin Open": [bitcoin_open],
#                          "Best Bitcoin Close": [bitcoin_close],
#                          "Total Bitcoin Volume": str(bitcoin_volume)+" million",
#                           "Best Dash Open": [dash_open],
#                           "Best Dash Close": [dash_close],
 #                          "Total Dash Volume": str(dash_volume)+" million"})
#
#summary_df