In [67]:
# Import Dependencies
import pandas as pd
import numpy as np

In [68]:
# File to Load
purchase_path = "Resources/purchase_data.csv"

# Read the csv and store into Pandas DataFrame
purchase_data_df = pd.read_csv(purchase_path)
#purchase_data_df = pd.DataFrame(purchase_data)
#purchase_data_df.head()

In [69]:
# Calculate the number of unique players in the DataFrame
player_count = len(purchase_data_df["SN"].unique())
player_count

576

In [5]:
# Calculate the Total Number of Purchases 
purchaseID_count = len(purchase_data_df["Purchase ID"].unique())
purchaseID_count

780

In [6]:
# Calculate the number of unique items in the DataFrame
itemId_count = len(purchase_data_df["Item ID"].unique())
itemId_count

179

In [7]:
#Calculate the Average Purchase Price
averagePurchasePrice = purchase_data_df["Price"].mean()
averagePurchasePrice

3.050987179487176

In [8]:
#Calculate the Total Revenue
totalrevenue = purchase_data_df["Price"].sum()
totalrevenue

2379.77

In [9]:
# create the Summary Frame
items_frame_df= pd.DataFrame([{"Number of Unique Items": itemId_count, "Average Purchase Price": averagePurchasePrice, "Total Number of Purchases": purchaseID_count, "Total Revenue":totalrevenue}])                                

# format
pd.options.display.float_format = "${:,.2f}".format

# display the summary frame
items_frame_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

In [10]:
user_df = purchase_data_df.loc[:,["SN", "Age", "Gender"]]
user_df = user_df.drop_duplicates()

gender_total = user_df["Gender"].value_counts()
gender_percent = gender_total/player_count * 100
gender_frame = pd.DataFrame({"Percentage of Players": gender_percent, "Total Count": gender_total})

pd.options.display.float_format = "{:,.2f}%".format
gender_frame

                       Percentage of Players  Total Count
Male                                  84.03%          484
Female                                14.06%           81
Other / Non-Disclosed                  1.91%           11

In [11]:
gender_counts = purchase_data_df.groupby(["Gender"]).count()["Price"].rename("Purchase Count")
#gender_counts = user_df.groupby(["Gender"]).count()["Price"].rename("Purchase Count")
#gender_counts

In [12]:
gender_avpp = purchase_data_df.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
pd.options.display.float_format = "${:,.2f}".format
#gender_avpp

In [13]:
gender_purchase_total = purchase_data_df.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
#gender_purchase_total

In [14]:
avpp_bygender = gender_purchase_total/gender_total
pd.options.display.float_format = "${:,.2f}".format
#avpp_bygender

In [15]:
gender_frame = pd.DataFrame({"Purchase Count": gender_counts, "Average Purchase Price": gender_avpp, "Total Purchase Value": gender_purchase_total, "Avg Total Purchase per Person": avpp_bygender})
gender_frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [16]:
# Age Demographics
# create the bins for age range
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 50]

# create the names for the bins
group_names = ["<10", "10 - 14", "15 - 19", "20 - 24", "25 - 29", "30 - 34", "35 - 39", "40+"]

In [17]:
pd.cut(purchase_data_df["Age"], bins, labels=group_names)

0      20 - 24
1          40+
2      20 - 24
3      20 - 24
4      20 - 24
        ...
775    20 - 24
776    20 - 24
777    20 - 24
778        <10
779    20 - 24
Name: Age, Length: 780, dtype: category
Categories (8, object): ['<10' < '10 - 14' < '15 - 19' < '20 - 24' < '25 - 29' < '30 - 34' < '35 - 39' < '40+']

In [72]:
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"],bins, labels=group_names)
purchase_data_df
# Export file as a CSV, without the Pandas index, but with the header to make sure age groups are correct
#purchase_data_df.to_csv("fileOne.csv", index=False, header=True)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53,20 - 24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,$4.88,20 - 24
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27,20 - 24
4,4,Iskosia90,23,Male,131,Fury,$1.44,20 - 24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,$3.54,20 - 24
776,776,Iral74,21,Male,164,Exiled Doomblade,$1.63,20 - 24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",$3.46,20 - 24
778,778,Sisur91,7,Male,92,Final Critic,$4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,$4.60,20 - 24

In [74]:
age_purchase_count = purchase_data_df.groupby(["Age Group"]).count()["Purchase ID"]
#age_purchase_count

In [75]:
age_total_purchase = purchase_data_df.groupby(["Age Group"]).sum()["Price"]
#age_total_purchase

In [76]:
age_avg_purchase = age_total_purchase/age_purchase_count
#age_avg_purchase

In [22]:
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"],bins, labels=group_names)
player_count = len(purchase_data_df["SN"].unique())
purchase_data_df
#age_avg_total_purchase_pp = age_total_purchase/?  The 576 numbers, broken out into Age groups

In [78]:
age_frame_df = pd.DataFrame({"Purchase Count": age_purchase_count, "Average Purchase Price": age_avg_purchase, "Total Purchase Value": age_total_purchase})

# Move bottom row to top
age_frame_df = pd.concat([age_frame_df.loc[["<10"],:], age_frame_df.drop("<10", axis=0)], axis=0)

age_frame_df

           Purchase Count  Average Purchase Price  Total Purchase Value
Age Group
<10                    23                   $3.35                $77.13
10 - 14                28                   $2.96                $82.78
15 - 19               136                   $3.04               $412.89
20 - 24               365                   $3.05             $1,114.06
25 - 29               101                   $2.90               $293.00
30 - 34                73                   $2.93               $214.00
35 - 39                41                   $3.60               $147.67
40+                    13                   $2.94                $38.24

In [79]:
#Top Spenders by Total Purchase Value
#SN
#Purchase Count
#Average Purchase Price
#Total Purchase Value
SN_top_spender = purchase_data_df.groupby(["SN"]).sum()["Price"]
#SN_top_spender

In [80]:
SN_top_spender = purchase_data_df.groupby(["SN"]).sum()["Price"]
#SN_top_spender

In [81]:
SN_most_purchases = purchase_data_df.groupby(["SN"]).count()["Price"]
#SN_most_purchases

In [82]:
SN_ave_price = SN_top_spender/SN_most_purchases
#SN_ave_price

In [64]:
spender_frame_df = pd.DataFrame({"Purchase Count": SN_most_purchases, "Average Purchase Price": SN_ave_price, "Total Purchase Value": SN_top_spender})


spender_df = spender_frame_df.sort_values("Total Purchase Value")
spender_frame_df.head(5)
#THIS IS NOT GIVING ME TOP SPENDERS

              Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76               1                   $2.28                 $2.28
Adastirin33                1                   $4.48                 $4.48
Aeda94                     1                   $4.91                 $4.91
Aela59                     1                   $4.32                 $4.32
Aelaria33                  1                   $1.79                 $1.79

In [83]:
#Most popular items
#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value
most_popular = purchase_data_df.groupby(["Item ID", "Item Name"]).count()["Price"]
#most_popular

In [84]:
total_pvalue = purchase_data_df.groupby(["Item ID", "Item Name"]).sum()["Price"]
#total_pvalue

In [85]:
item_price = total_pvalue/most_popular
#item_price

In [59]:
spender_frame = pd.DataFrame({"Purchase Count": most_popular, "Item Price": item_price, "Total Purchase Value": total_pvalue})
spender_frame_count_sorted = spender_frame.sort_values("Purchase Count", ascending = False)
spender_frame.head()
#NOT GIVING ME THE TOP 5

                            Purchase Count  Item Price  Total Purchase Value
Item ID Item Name
0       Splinter                         4       $1.28                 $5.12
1       Crucifer                         4       $2.94                $11.77
2       Verdict                          6       $2.48                $14.88
3       Phantomlight                     6       $2.49                $14.94
4       Bloodlord's Fetish               5       $1.70                 $8.50

In [61]:
#Identify the 5 most profitable items by total purchase value, then list (in a table):
 # Item ID
 # Item Name
 # Purchase Count
 # Item Price
 # Total Purchase Value
spender_frame = pd.DataFrame({"Purchase Count": most_popular, "Item Price": item_price, "Total Purchase Value": total_pvalue})
spender_frame
spender_frame.head()

                            Purchase Count  Item Price  Total Purchase Value
Item ID Item Name
0       Splinter                         4       $1.28                 $5.12
1       Crucifer                         4       $2.94                $11.77
2       Verdict                          6       $2.48                $14.88
3       Phantomlight                     6       $2.49                $14.94
4       Bloodlord's Fetish               5       $1.70                 $8.50