In [1]:
# Import Dependencies
import pandas as pd

In [6]:
# File to Load
purchase_path = "Resources/purchase_data.csv"

# Read the csv and store into Pandas DataFrame
purchase_df = pd.read_csv(purchase_path)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [9]:
# Calculate the number of unique players in the DataFrame
player_count = len(purchase_df["SN"].unique())
player_count

576

In [11]:
# Calculate the Total Number of Purchases 
purchaseID_count = len(purchase_df["Purchase ID"].unique())
purchaseID_count

780

In [10]:
# Calculate the number of unique items in the DataFrame
itemId_count = len(purchase_df["Item ID"].unique())
itemId_count

179

In [14]:
#Calculate the Average Purchase Price
averagePurchasePrice = purchase_df["Price"].mean()
averagePurchasePrice

3.050987179487176

In [12]:
#Calculate the Total Revenue
totalrevenue = purchase_df["Price"].sum()
totalrevenue

2379.77

In [1]:
# Age Demographics
# create the bins for age range
bins = [0, 9.9, 13.9, 18.9, 23.9, 28.9, 33.9, 43.9, 100]

# create the names for the bins
group_names = ["Under 10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45 and Older"]

NameError: name 'group_names' is not defined